<div fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutGap="10px">

    <mat-tab-group>

      <mat-tab label="Physician Billing">
        <div fxLayout="row" fxLayoutAlign="center start">
          <p>
            <app-physician-billing></app-physician-billing>
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Vendor Billing">
        <div fxLayout="row" fxLayoutAlign="center start">
          <p>
            <app-vendor-billing></app-vendor-billing>
          </p>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>
</div>