
$mat-blue: (
    50 : #e0f1f5,
    100 : #b3dde6,
    200 : #80c6d6,
    300 : #4dafc5,
    400 : #269eb8,
    500 : #008dac,
    600 : #0085a5,
    700 : #007a9b,
    800 : #007092,
    900 : #005d82,
    A100 : #afe4ff,
    A200 : #7cd3ff,
    A400 : #49c2ff,
    A700 : #30b9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-sky-blue: (
    50 : #edf8fb,
    100 : #d2edf5,
    200 : #b4e2ef,
    300 : #96d6e8,
    400 : #80cde3,
    500 : #69c4de,
    600 : #61beda,
    700 : #56b6d5,
    800 : #4cafd1,
    900 : #3ba2c8,
    A100 : #ffffff,
    A200 : #e2f7ff,
    A400 : #afe8ff,
    A700 : #96e1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-soft-green: (
    50 : #e8f7e8,
    100 : #c5eac5,
    200 : #9edc9e,
    300 : #77ce77,
    400 : #59c459,
    500 : #3cb93c,
    600 : #36b236,
    700 : #2eaa2e,
    800 : #27a227,
    900 : #1a931a,
    A100 : #caffca,
    A200 : #97ff97,
    A400 : #64ff64,
    A700 : #4bff4b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-blood-red: (
    50 : #f3e0e0,
    100 : #e1b3b3,
    200 : #ce8080,
    300 : #ba4d4d,
    400 : #ab2626,
    500 : #9c0000,
    600 : #940000,
    700 : #8a0000,
    800 : #800000,
    900 : #6e0000,
    A100 : #ff9d9d,
    A200 : #ff6a6a,
    A400 : #ff3737,
    A700 : #ff1e1e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
